/* Normal Styles */
:root {
  --blue: #1a73e8;
  --dark-blue: #174ea6;
  --light-blue: rgba(26,115,232,.04);
  --dark-grey: #5f6368;
  --darker-grey: #202124;
  --almost-black: #3c4043;
  --light-grey:  #dadce0;
  --lighter-grey: rgba(32,33,36,.04);
  --white: #ffffff;
}

#name {
  font: 500 40px/42px "Carter One", "Helvetica Neue", sans-serif;
  margin: 0 0 0 0;
}

body {
  margin: 0;
  padding: 0;
  font: 400 16px/20px "Montserrat", "Helvetica Neue", sans-serif;
  background-color: #12193B;
  color: #fff;
}

a {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

a:focus {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
}

h1 {
  font: 400 36px/44px "Montserrat", "Helvetica Neue", sans-serif;
}

h2 {
  font: 400 32px/40px "Montserrat", "Helvetica Neue", sans-serif;
}

h3 {
  font: 400 24px/32px "Montserrat", "Helvetica Neue", sans-serif;
}

header nav {
  color: var(--dark-grey);
  font: 500 14px/20px "Montserrat", "Helvetica Neue", sans-serif;
  display: flex;
  background-color: #fff;
  flex-wrap: wrap;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline-block;
  height: 100%;
}

header nav ul li a {
  padding: 16px 24px;
  height: 100%;
  display: flex;
  align-content: center;
  -moz-box-pack: center;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  color: var(--dark-grey);
}

header nav ul li a.selected {
  color: var(--blue);
}

header nav ul li a.selected:after {
  content: "";
  height: 1px;
  width: 100%;
  top: 100%;
  background-color: var(--blue);
  height: 1.5px;
  top: calc(100% - 0.5px);
  position: absolute;
  left: 0;
}

header nav ul li a:hover,
header nav ul li a:focus,
header nav ul li a:active {
  background-color: var(--lighter-grey);
  color: var(--darker-grey);
  text-decoration: none;
}

header nav ul li a.selected:hover,
header nav ul li a.selected:focus,
header nav ul li a.selected:active {
  color: var(--dark-blue);
  background-color: var(--light-blue);
}

#scoreboard {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 20px;
  justify-content: center;
}

#scoreboard .player-container {
  transition: all 0.2s;
  width: 100px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

#scene {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  justify-content: center;
  position: relative;
}

#monster .image {
  background-image: url('monster.gif');
  height: 375px;
  width: 356px;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#player .image {
  height: 375px;
  width: 356px;
  background-size: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card {
  height: 350px;
  width: 222px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: calc(50% - 111px);
  right: calc(50% - 111px);
  /*transition: all 0.2s;*/
}

.card-number {
  position: absolute;
  bottom: 10px;
  right: 17px;
  text-align: right;
  font-weight: 600;
  font-size: 12px;
  opacity: 0.7;
  background-color: #000;
  border-radius: 10px;
  padding: 1em 0.7em;
  line-height: 0;
}

#cards-in-play-1 {
  position: absolute;
  width: 100%;
  z-index: 2;
}

#cards-in-play-2 {
  position: absolute;
  width: 100%;
  z-index: 2;
}

div[class*="avatar"] {
  background-size: contain;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
}

.bet-players .bet-container div[class*="-avatar"] {
  height: 40px;
  width: 40px;
}

div[class*="-name"] {
  font-family: "Carter One", sans-serif;
  font-size: 1.2em;
  padding: 0.5em 0;
}

.gold {
  font-family: "Carter One", sans-serif;
  color: #ffd88d;
  font-size: 2em;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.5) 5px 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.small-gold {
  font-family: "Carter One", sans-serif;
  color: #ffffff;
  font-size: 1em;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.5) 5px 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.player-1-avatar {
  background-color: #FF7A7A;
}

.player-2-avatar {
  background-color: #87D8E5;
}

.player-3-avatar {
  background-color: #FFD088;
}

.player-4-avatar {
  background-color: #88E587;
}

.player-5-avatar {
  background-color: #CB91FF;
}

.player-6-avatar {
  background-color: #87E9CC;
}

.player-7-avatar {
  background-color: #FFF3E1;
}

.player-8-avatar {
  background-color: #FFA7D3;
}

.name {
  font-family: "Carter One", sans-serif;
  color: #ffd88d;
  font-size: 1.5em;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.5) 5px 5px;
  margin-top: 10px;
}

.score {
  font-family: "Carter One", sans-serif;
  color: #fff;
  font-size: 3em;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.5) 5px 5px;
  margin-top: 30px;
}

#bets {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  z-index: 1;
}

#bets h3 {
  font-family: "Carter One", sans-serif;
  color: #fff;
  font-size: 2.4em;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.5) 5px 5px;
  margin-top: 30px;
}

#win, #loss, #flee {
  width: 100%;
  text-align: center;
}

.bet-players {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bet-container {
  margin: 10px;
}
